.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links p {
  font-size: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright p {
  font-size: 0.5rem;
}
