<div class="topcard">
  <!-- Banner along the top -->
  <div class="banner">
    <img src="../../assets/name.svg" alt="Spencer Biri" />
  </div>

  <div class="top-content">
    <h1>Professional front-end website development.</h1>
    <hr />
    <h2>
      Building a professional, functional, and accessible front-end website is
      what I'm here to do. Learning and growing has always been a key principal
      for me, and my websites reflect that with flexability and precision.
    </h2>
  </div>
  <!-- Content in the middle of the picture -->
</div>
