<!-- The main example website, possibly rotating with the others, but not sure yet. -->
<main class="main-website">
  <img
    src="../../assets/carimage.jpg"
    alt="car interior"
    class="preview-image"
  />
  <h3>Example Website</h3>
  <p>
    This will be a website that I have built once I finish another one. I'm
    planning on adding more as I complete more demo websites
  </p>
  <hr />
</main>

<!-- The other two smaller examples -->
<section class="smaller-websites">
  <!-- outer div holding both -->
  <div>
    <h1>picture</h1>
    <h4>title</h4>
  </div>
  <div>
    <h1>picture2</h1>
    <h4>title2</h4>
  </div>
</section>
<!-- stack icons (css, html, js, angular, etc) -->

<ul class="stack">
  <li>icon</li>
  <li>icon</li>
  <li>icon</li>
  <li>icon</li>
  <li>icon</li>
</ul>
