<!-- The main example website, possibly rotating with the others, but not sure yet. -->
<main class="main-website">
  <img
    src="../../assets/carimage.jpg"
    alt="car interior"
    class="preview-image"
  />
  <h2>Example Website</h2>
  <p>
    This will be a website that I have built once I finish another one. I'm
    planning on adding more as I complete more demo websites
  </p>
</main>

<!-- The other two smaller examples -->
<section class="smaller-websites">
  <!-- outer div holding both -->
  <div>
    <img
      src="../../assets/book-pic.jpg"
      alt="car interior"
      class="preview-image"
    />
    <h3>Example Page 2</h3>
  </div>
  <div>
    <img
      src="../../assets/camera-pic.jpg"
      alt="car interior"
      class="preview-image"
    />
    <h3>Game Website</h3>
  </div>
</section>
<!-- stack icons (css, html, js, angular, etc) -->
<footer>
  <hr />
  <ul class="stack">
    <img src="../../assets/HTML5.svg" alt="Angular Logo" />
    <img src="../../assets/CSS3.svg" alt="Angular Logo" />
    <img src="../../assets/angular.svg" alt="Angular Logo" />
    <img src="../../assets/TypeScript.svg" alt="Angular Logo" />
  </ul>
</footer>
