<!-- The main example website, possibly rotating with the others, but not sure yet. -->
<main class="main-website">
  <a href="https://spenpokedexapp.herokuapp.com/">
    <img
      src="../../assets/pokeproto.png"
      alt="car interior"
      class="preview-image"
    />
    <h2>Pokedex Website !WIP!</h2>
  </a>
  <p>
    This is a website I built to learn more about manipulating data recieved
    from an API.
  </p>
</main>

<!-- The other two smaller examples -->
<section class="smaller-websites">
  <!-- outer div holding both -->
  <div>
    <img
      src="../../assets/book-pic.jpg"
      alt="car interior"
      class="preview-image"
    />
    <h3>Example Page 2</h3>
  </div>
  <div>
    <img
      src="../../assets/camera-pic.jpg"
      alt="car interior"
      class="preview-image"
    />
    <h3>Game Website</h3>
  </div>
</section>
<!-- stack icons (css, html, js, angular, etc) -->
<footer>
  <ul class="stack">
    <li>
      <img src="../../assets/HTML5.svg" alt="Angular Logo" />
    </li>
    <li>
      <img src="../../assets/CSS3.svg" alt="Angular Logo" />
    </li>
    <li>
      <img src="../../assets/angular.svg" alt="Angular Logo" />
    </li>
    <li>
      <img src="../../assets/TypeScript.svg" alt="Angular Logo" />
    </li>
  </ul>
</footer>
